body{
    margin: 0;

    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    color: #fff;
    line-height: 1.7;

    background-color: #fff;
}
*,
*:before,
*:after{
    box-sizing: border-box;
}