.header{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    display: flex;
    padding: 10px 5%;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    justify-content: space-between;
    align-content: center;

    background-color: #648cff;
}
.header__logo{
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
}
