.widgets{
    position: relative;

    width: 100%;
    height: 700px;
    padding-right: 5%;
    padding-left: 5%;
}
.widgets__img{
    position: absolute;
    top: 50%;
    left: 50%;

    width: 317px;
    height: 565px;
    
    transition: .5s;
    transition-timing-function: ease-in-out;
}
.widgets__img_position_0{
    z-index: 2;

    transform: translate(-100%, -40%) scale(0.55); 
}
.widgets__img_position_1{
    z-index: 5;

    transform: translate(-50%, -40%) scale(0.75);    
}
.widgets__img_position_2{
    z-index: 2;

    transform: translate(0%, -40%) scale(0.55);
}
.widgets__arrow{
    position: absolute;
    top: 50%;
    left: 50%;

    margin-top: 350px;

    cursor: pointer;
}
.widgets__arrow_left{
    transform: translate(-1250%, -540%);
 }
.widgets__arrow_right{
    transform: translate(1250%, -540%);
}
@media (max-width: 780px){
    .widgets__img_position_0{
        display: none;
    }
    .widgets__img_position_2{
        display: none;
    }
    .widgets__arrow{
        display: none;
    }
}
  