.features{
    padding: 80px 5%;
    padding-bottom: 5%;
}
.features__container{
    display: grid;
}
@media (min-width: 1061px){
    .features__container{
        grid-template-columns: repeat(3,1fr);
        justify-content: flex-start;
    }
}
@media (max-width: 1060px){
    .features__container{
        grid-template-columns: 1fr;
    }
}
