.block-header__title{
    display: flex;
    margin-top: 30px;
    justify-content: center;

    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 36px;
    color: #648cff;
}
.block-header__subtitle{
    display: flex;
    margin-top: 30px;
    margin-bottom: 50px;
    justify-content: center;
    
    font-size: 18px;
    color: #999999;
}
